<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/signup" method="post">
        <div class="form-group">
            <label for="bankName">은행명</label>
            <input type="text" id="bankName" name="bankName" placeholder="이름을 입력하세요">
            <label for="accountNum">은행계좌</label>
            <input type="text" id="accountNum" name="accountNum" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>

</body>
</html>